{% extends 'base.html.twig' %}

{% set title = 'F.A.Q.' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div>
        <dl>
            {% for OneFaq in faq %}

                <dt>{{ OneFaq.question }}</dt>
                <dd>{{ OneFaq.answer }}</dd><br>

            {% endfor %}
        </dl>
    </div>
{% endblock content %}
