{% extends 'base.html.twig' %}

{% set title = 'Feedback' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block content %}
    <h1>{{ 'feedback.header' | trans({}, 'main-page')}}</h1>

    <div>
        {{ form(form) }}
    </div>
{% endblock content %}
