{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('add_lost_item') }}">Add lost item</a>
    <a href="{{ path('add_found_item') }}">Add found item</a>

    <p>Here are some last items</p><br>
    <p>Someone found these items:</p>
    <hr>
    {% for item in found_items %}
        <ol>{{ item.title }} </ol>
    {% endfor %}
    <br>
    <p>Someone lost these items</p>
    <hr>
    {% for item in lost_items %}
        <ol>{{ item.title }} </ol>
    {% endfor %}

{% endblock body %}
