/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.*~
/web/images/categories/
/web/images/item-photos/
/web/uploads/media/images/
!/web/images/categories/.gitkeep
!/web/images/item-photos/.gitkeep
!/web/uploads/media/images/.gitkeep
