{% extends 'base.html.twig' %}

{% block content %}
    <h1>Found items</h1>

    {% for item in found_items %}
        <ul>
            <li>
                <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
            </li>
        </ul>
    {% endfor %}

    <a href="{{ path('add_lost_item') }}" class="btn btn-success" title="Add an item you've lost">
        I found something :)
    </a>
{% endblock content %}
