{% extends 'base.html.twig' %}

{% block content %}
    <h1>Lost items</h1>

    {% for item in lost_items %}
        <ul>
            <li>
                <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
            </li>
        </ul>
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('add_lost_item') }}" class="btn btn-danger" title="Add an item you've lost">
            I lost something :(
        </a>
    {% endif %}
{% endblock content %}
