<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lost-and-Found{% endblock title %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/style.css'
            filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock body %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        {% endblock javascripts %}
    </body>
</html>
