{% block area_map_widget %}
    {% set item = form.parent.vars.value %}

    <label for="map">Area (click on marker or area to delete it from map)</label>
    <div id="map" style="height: 500px"></div>

    <input type="hidden" name="[latitude]" value="{{ item.latitude }}">
    <input type="hidden" name="[longitude]" value="{{ item.longitude }}">
    <input type="hidden" name="[area]" value="{{ item.area|json_encode }}">
    <input type="hidden" name="[areaType]" value="{{ item.areaType }}">
{% endblock %}
