{% extends 'SonataAdminBundle:CRUD:base_edit_form.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block form %}
    <div id="map" style="width: inherit; height: 500px"></div>
{% endblock form %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}