{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value == 'active' %}
        <span class="badge" style="background-color: #b94a48;">{{ value }}</span>
    {% elseif value == 'resolved' %}
        <span class="badge" style="background-color: #468847;">{{ value }}</span>
    {% endif %}
{% endblock %}
