.item-status-active {
    background-color: #b94a48;
}

.item-status-resolved {
    background-color: #468847;
}

.item-type-lost {
    background-color: #3a87ad;
}

.item-type-found {
    background-color: #f89406;
}

.lost-and-found-items-div {
    float: left;
}

.add-lost-found-item {
    margin: 15px;
}

.category-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.category-label {
    margin-right: 5px;
    vertical-align: middle;
}

.index-description {
    width: 50%;
    margin-left: 50%;
}

.half-category {
    width: 48%;
    float: left;
}

.half-date {
    width: 48%;
    float: right;
}

.half-form {
    width: 48%;
    float: left;
}

.map-block {
    width: 48%;
    float: right;
}

#map {
    width: auto;
    height: 400px;
}
