services:
    admin.category:
        class: AppBundle\Admin\CategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Default", label: "Categories" }
        arguments:
            - ~
            - AppBundle\Entity\Category
            - AppBundle:Backend\CategoryAdmin

    admin.item:
        class: AppBundle\Admin\ItemAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Default", label: "Items" }
        arguments:
            - ~
            - AppBundle\Entity\Item
            - AppBundle:Backend\ItemAdmin

    admin.user:
        class: AppBundle\Admin\UserAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Default", label: "Users" }
        arguments:
            - ~
            - AppBundle\Entity\User
            - ~

    admin.FAQ:
        class: AppBundle\Admin\FAQAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Default", label: "FAQ" }
        arguments:
            - ~
            - AppBundle\Entity\FAQ
            - ~
