{% extends 'frontend/user/profile.html.twig' %}

{% block title %}
    Item requests |
    {{ parent() }}
{% endblock title %}

{% block content %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <table class="table table-bordered table-hover">
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>
                        {{ request.user }}
                    </td>
                    <td>
                        {{ request.createdAt|date('d.m.Y H:i:s') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
